#wrapper .clearfix:after {
    content: "";
    display: table;
    /* clear: both; */
}
  
#wrapper a {
    color: #5D6975;
    text-decoration: underline;
}
  
#wrapper {
    position: relative;
    color: #001028;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-family: Arial;
    padding: 10px;
}
  
th.serial, th.date, th.employee,th.status,tbody#payments_found tr td {
    text-align: left;
}
th.view,td.viewbtns{
    text-align: right !important;
}
td.viewbtns button{
    cursor: pointer;
}

.payments {
    width: 70%;
    border: 1px solid #ddd;
    margin: 50px 0px;
    background: #fff;
}
td.completed{
    color: #2271b1;
}
#header_section {
    padding: 10px 0;
    margin-bottom: 30px;
    overflow: hidden;
}

h1 {
    border-top: 1px solid  #5D6975;
    border-bottom: 1px solid  #5D6975;
    color: #5D6975;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 20px 0;
    background: url(../../dimension.png);
}
  
#informations {
    float: left;
}
  
#informations span {
    color: #5D6975;
    text-align: right;
    width: 52px;
    margin-right: 10px;
    display: inline-block;
    font-size: 0.8em;
}
  
#customer_info {
    float: right;
    text-align: right;
}
  
#informations div,
#customer_info div {
    white-space: nowrap;        
}
  
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}
  
table tr:nth-child(2n-1) td {
    background: #F5F5F5;
}
  
table th,
table td {
    text-align: center;
}
  
table th {
    padding: 5px 20px;
    color: #5D6975;
    border-bottom: 1px solid #C1CED9;
    white-space: nowrap;        
    font-weight: normal;
}
  
table .service,
table .desc {
    text-align: left;
}
  
table td {
    padding: 20px;
    text-align: right;
}
  
table td.service,
table td.desc {
    vertical-align: top;
}
  
table td.unit,
table td.qty,
table td.total {
    font-size: 1.2em;
}
  
table td.grand {
    border-top: 1px solid #5D6975;;
}