.search_user {
    text-align: center;
    margin-bottom: 50px;
}
#wrapper .clearfix:after {
    content: "";
    display: table;
    /* clear: both; */
}
.selectuser{
    margin-bottom: 0px !important;
}
#wrapper a {
    color: #5D6975;
    text-decoration: underline;
}
#wrapper {
    position: relative;
    color: #001028;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-family: Arial;
    padding: 10px;
}
div#bottom_tables {
    display: flex;
    justify-content: space-between;
}
table#resultable {
    width: 160px;
}
table#detailstable tbody tr td {
    text-align: left;
}
th.serial, th.date, th.employee,th.status,tbody#payments_found tr td {
    text-align: left;
}
th.view,td.viewbtns{
    text-align: right !important;
}
td.viewbtns button{
    cursor: pointer;
}
.payments {
    width: 80%;
    border: 1px solid #ddd;
    background: #fff;
    margin: 0 auto;
}
.prepayment{
    color: #2271b1;
}
td.completed{
    color: #2271b1;
}
#header_section {
    padding: 10px 0;
    padding-top: 0px;
    margin-bottom: 30px;
    overflow: hidden;
}
h1 {
    border-top: 1px solid  #5D6975;
    border-bottom: 1px solid  #5D6975;
    color: #5D6975;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 20px 0;
    background: url(../../decoration.png);
}
#informations {
    float: left;
}
#informations span {
    color: #5D6975;
    text-align: right;
    width: 52px;
    margin-right: 10px;
    display: inline-block;
    font-size: 0.8em;
}
#customer_info {
    float: right;
    text-align: right;
}
#informations div,
#customer_info div {
    white-space: nowrap;        
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}
table tr:nth-child(2n-1) td {
    background: #F5F5F5;
}
table th,
table td {
    text-align: center;
}
table th {
    padding: 5px 20px;
    color: #5D6975;
    border-bottom: 1px solid #C1CED9;
    white-space: nowrap;        
    font-weight: normal;
}
table .service,
table .desc {
    text-align: left;
}
table td {
    padding: 20px;
    text-align: right;
}
table td.service,
table td.desc {
    vertical-align: top;
}
table td.unit,
table td.qty,
table td.total {
    font-size: 1.2em;
}
table td.grand {
    border-top: 1px solid #5D6975;;
}
tr.bcolumn, tr.bcolumn td {
    background: #fff !important;
}
button#pdfdownload {
    position: fixed;
    right: 18%;
    bottom: 34px;
    cursor: pointer;
    padding: 10px;
    background: #2271b1;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #fff;
}
.bklyeditbtn {
    margin-top: 8px;
}
.bklyeditbtn button{
    cursor: pointer;
}
.edit_inp {
    position: absolute;
    right: 150px;
    padding: 5px;
    background: #ddd;
    border-radius: 4px;
    display: none;
    flex-direction: column;
}
.edit_inp input{
    margin-bottom: 5px;
}
.edit_inp input:last-child{
    margin-bottom: 0px;
}
.invoice__footer_content {
    padding: 20px;
    font-size: 14px;
    text-align: right;
}
.signeture {
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}
.create_date {
    margin-top: 5px;
}